<div class="task-field-edit">
  <div class="task-field-header">
    <mat-form-field class="task-field-type">
      <mat-select placeholder="Field Type" ([ngModel])="fieldType">
        <mat-option *ngFor="let fieldTypeOption of fieldTypeOptions" [value]="fieldTypeOption.value">
          {{fieldTypeOption.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="task-field-name">
      <input matInput [(ngModel)]="fieldName" placeholder="Field Name"/>
    </mat-form-field>
  </div>
  <div class="task-field-content-wrap" [formGroup]="form" [ngSwitch]="fieldType">
    <div *ngSwitchCase="taskFieldTypeEnum.TEXT_SHORT" class="task-field-content">
      <mat-form-field>
        <input matInput [formControl]="formControl"/>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="taskFieldTypeEnum.TEXT_LONG" class="task-field-content">
      <mat-form-field>
        <textarea [formControl]="formControl" matInput></textarea>
      </mat-form-field>
    </div>
    <div *ngSwitchCase="taskFieldTypeEnum.INTEGER" class="task-field-content">
    </div>
    <div *ngSwitchCase="taskFieldTypeEnum.DECIMAL" class="task-field-content">
    </div>
    <div *ngSwitchCase="taskFieldTypeEnum.MONEY" class="task-field-content">
    </div>
    <div *ngSwitchCase="taskFieldTypeEnum.DATE" class="task-field-content">
    </div>
  </div>
</div>
