<div class="task-graph-side-nav">
  <mat-form-field class="side-nav-searchbox" [floatLabel]="'never'">
    <input matInput type="search" placeholder="Search"/>
    <span matPrefix class="side-nav-searchbox-icon">
      <mat-icon>search</mat-icon>
    </span>
  </mat-form-field>

  <mat-nav-list>
    <h2 matSubheader>Tasks</h2>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item *ngFor="let task of taskList">
      <mat-icon matListIcon>share</mat-icon>
      <h3 matLine>{{task.taskName}}</h3>
    </mat-list-item>
  </mat-nav-list>
</div>
