.task-graph-side-nav {
  $side-nav-width: 300px;
  $side-nav-padding: 16px;

  width: $side-nav-width;
  padding: $side-nav-padding;
  min-height: 100%;

  .task-list-item {
    display: flex;
  }

  .task-list-item-bobble {
    margin-right: 5px;
  }

  .task-list-item-name {
    margin-top: 5px;
  }

  .side-nav-searchbox {
    width: $side-nav-width - (2 * $side-nav-padding);

    ::ng-deep .task-graph-search-box {
      width: 100%;
    }
  }
}
