<div class="task-graph-side-nav">
  <mat-form-field class="side-nav-searchbox" [floatLabel]="'never'">
    <input matInput type="search" placeholder="Search"/>
    <span matPrefix class="side-nav-searchbox-icon">
      <mat-icon>search</mat-icon>
    </span>
  </mat-form-field>

  <mat-nav-list>
    <h2 matSubheader>Tasks</h2>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item *ngFor="let task of taskList">
      <div class="task-list-item" matLine>
        <task-bobble [task]="task" class="task-list-item-bobble"></task-bobble>
        <span class="task-list-item-name">{{task.taskName}}</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
