@import '~scss/variables';

.task-view {
  display: flex;
  min-height: $content-viewport-height;

  .task-view-panel {
    padding: $content-viewport-padding;
  }

  .task-view-primary-panel {
    flex-basis: 500px;
    min-width: 500px;
  }

  .task-view-secondary-panel {
    flex-grow: 1;
  }
}
