@import '~scss/variables';

.task-subitems-view {
  $task-subitems-view: $content-viewport-item-height;

  min-height: $task-subitems-view;

  .task-subitems-view-header {
    margin-bottom: 20px;
  }

  .task-subitems-list {
    // padding-top: 20px;
  }

  .task-filter-header {
    display: flex;
    justify-content: space-between;
  }
}
