<h2 mat-dialog-title>Edit Task</h2>
<form [formGroup]="taskEditForm">
  <div mat-dialog-content>
    <mat-form-field class="task-details-title-edit" [floatLabel]="'never'">
      <input matInput formControlName="name">
    </mat-form-field>
    <div class="task-details-content task-details-content-edit">
      <mat-form-field class="task-details-description">
        <textarea formControlName="description" matInput matTextareaAutosize
          matAutosizeMinRows="{{descriptionMinRows}}"
          placeholder="Add a description"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="cancelChanges()">Cancel</button>
    <button mat-raised-button color="accent" (click)="saveChanges()">Save</button>
  </div>
</form>
