@import '~scss/variables';

.task-details {
  $task-btn-radius: 40px; // this is just the size of material's mini-fab-btn
  $task-details-icon-padding: 10px;
  $task-details-height: $content-viewport-item-height;

  min-height: $task-details-height;
  display: flex;
  flex-direction: column;

  .task-details-card {
    flex-grow: 1;
  }

  .task-details-header {
    display: flex;

    ::ng-deep > .mat-card-header-text:first-child {
      margin: 0px;
    }
  }

  .task-details-bobble {
    margin-right: $task-details-icon-padding;
  }

  .task-details-title {
    margin-top: 1px;
  }

  .task-btn {
    position: absolute;
    top: $task-details-icon-padding;
  }

  .task-delete-btn {
    right: $task-btn-radius + (2 * $task-details-icon-padding);
  }

  .task-edit-btn {
    right: $task-details-icon-padding;
  }

  .task-details-content {
    padding-top: 25px;
  }

  .task-details-description {
    width: 100%;
    font-size: 20px;
  }
}
