@import '~scss/variables';

.task-details {
  $task-btn-radius: 40px; // this is just the size of material's mini-fab-btn
  $task-details-icon-padding: 10px;
  $task-details-height: $content-viewport-item-height;

  height: $task-details-height;
  display: flex;
  flex-direction: column;

  .task-details-header {
    flex-basis: 80px;
    display: flex;
  }

  .task-details-content {
    flex-grow: 1;
    overflow-y: auto;
  }

  .task-details-bobble {
    margin-right: $task-details-icon-padding;
  }

  .task-details-title {
    margin-top: 1px;
  }

  .task-btn {
    position: absolute;
    top: $task-details-icon-padding;
  }

  .task-delete-btn {
    right: $task-btn-radius + (2 * $task-details-icon-padding);
  }

  .task-edit-btn {
    right: $task-details-icon-padding;
  }
}
