@import '~@angular/material/theming';
@import '~scss/mixins';

.task-graph-toolbar {
  display: flex;
  @include mat-elevation(3);

  .toolbar-menu-btn {
    margin-right: 10px;
  }

  .toolbar-menu-header {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
  }
}
